.ghost {
  background-color: gray;
}
.green {
  background-color: green;
}
.button {
  display: inline-block;

  padding: 10px;

  cursor: pointer;
  transition: all 0.2s;
  text-align: center;

  border-radius: 5px;

  font-size: 14px;

  box-sising: border-box;
}
