.medium {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.low {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.big {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
