@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/
html,
body {
  /*@apply  max-w-screen-xl;*/

  color: var(--black);
  background: #f5f6f8;

  font-family: "Montserrat", serif;
}
h2 {
  font-size: 40px;
}
h1 {
  font-size: 40px;
}
a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/
:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --gray: #a4a4a4;
  --white: rgb(255 255 255);
  --primary: #0f172b;
  --green: green;
  --red: rgb(187 99 99);
  --red-light: #dc6969;
  --footer-color: #2c2c2c;
  --green-ligth: rgb(196 238 196);
  --font-family: "Noto Sans KR", sans-serif;
  --primary-hover: purple;
  --paragraph-color: #3b434e;
  --gray-dark: #787d85;
}
footer {
  width: 1300px;
}
/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/
